<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="./assets/img/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/styles/style.css">

    <title>Amazing Events</title>
</head>
<body class="d-flex flex-column min-vh-100" style="margin-bottom: 8vh;">
  <header class="d-flex justify-content-between w-100 min"> 
    <nav class="navbar d-flex navbar-expand-lg navbar-expand-md p-3 w-100" style="background-color: rgb(221, 218, 218);">
      <div class=" d-flex justify-content-between container-fluid">
        <img class="navbar-brand w-25" src="./assets/img/Logo Amazing Events.png" alt="Logo">
      <button class="navbar-toggler navbar-toggler-icon color-text justify-self-end" type="button" data-bs-toggle="collapse" data-bs-target="#hamburguesa" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>
      <div class= "collapse navbar-collapse justify-content-end pr-2" id = "hamburguesa">    
        <ul class="navbar-nav nav d-flex flex-wrap justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Upcoming Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./past_events.html">Past Events</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="./contact.html">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="./stats.html">Stats</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>        
</header>

<main>

  <div id="app">
    <div id="app">
      <div class="d-flex flex-wrap gap-3 justify-content-center mt-3 mb-3">
  
        <div class="form-check form-check-inline" v-for="cat of dupCats">
          <label class="form-check-label" for="inlineCheckbox1">{{cat}}
            <input class="form-check-input" v-on:change="filtro()" v-model="checked" type="checkbox" :value="cat">
          </label>
        </div>
      
          <div class="form-inline">
            <input type="text" class="form-control" placeholder="Search Event Name" v-model="nombreIngresado" v-on:keyup="filtro()">
          </div>
        </div>
        <div class="d-flex flex-wrap gap-3 justify-content-center ">
            <div v-if="eventosFiltro.length > 0"  v-for="evento of eventosFiltro">
                 <div class="card" style="width: 18rem; margin-bottom: 5vh;">
                      <img :src="evento.image" class="card-img-top" v-bind:alt="evento.name" style="height: 15rem; object-fit: cover">
                      <div class="card-body">
                           <h5 class="card-title">{{evento.name}}</h5>
                           <p class="card-text">{{evento.description}}</p>
                           <a :href="'./card.html?id='+ evento._id" class="btn btn-danger" style="float:right">info</a>
                          </div>
                 </div>
            </div>
            <div v-else>
               <h5 style="margin-bottom: 20vh; margin-top: 5vh;">No results to show, please refine your search and try again.</h5>
            </div>
      
            </div>
      
      
    </div>
   
  </div>


</main>
 
  <footer class="d-flex fixed-bottom justify-content-between mt-auto p-3" style="background-color: rgb(221, 218, 218);">
      <div>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-whatsapp"></a>
      </div>
      <div style="font-size: x-large; font-family: 'Bebas Neue'">FE08-TN</div>


  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <!-- <script src="./assets/js/data.js"></script> -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/js/upcoming.js"></script>

</body>
</html>